<app-header/>

<!-- HERO -->
<div class="container bg-success text-white py-5 mt-5">
  <div class="container text-center py-4">
    <h1 class="fw-bold mb-3">Contact Us</h1>
    <p class="mx-auto" style="max-width:700px;">
     We’d love to hear from you! If you have any questions, suggestions, or feedback about Cookpedia, feel free to contact us. Your thoughts help us improve and make Cookpedia better for everyone. We’ll get back to you as soon as possible.”
    </p>
  </div>
</div>


<!-- CONTENT -->
<div class="container py-5">
  <div class="row g-5">

    <!-- LEFT -->
    <div class="col-md-6">
      <h3 class="fw-bold mb-3">Get In Touch</h3>
      <p class="text-muted">
          Have a question, feedback, or suggestion about Cookpedia? Get in touch with us anytime.
          We’re always happy to hear from you and help make your cooking experience better.
      </p>

      <!-- ADDRESS -->
      <div class="d-flex align-items-start mb-3">
        <div class="bg-success text-white rounded-circle p-2 me-3">
          <i class="bi bi-geo-alt-fill"></i>
        </div>
        <div>
          <h6 class="fw-bold mb-0">Address</h6>
          <small class="text-muted">NYC 4567, PO Berlin.</small>
        </div>
      </div>

      <!-- PHONE -->
      <div class="d-flex align-items-start mb-3">
        <div class="bg-success text-white rounded-circle p-2 me-3">
          <i class="bi bi-telephone-fill"></i>
        </div>
        <div>
          <h6 class="fw-bold mb-0">Phone Number</h6>
          <small class="text-muted">9086754321</small>
        </div>
      </div>

      <!-- EMAIL -->
      <div class="d-flex align-items-start mb-4">
        <div class="bg-success text-white rounded-circle p-2 me-3">
          <i class="bi bi-envelope-fill"></i>
        </div>
        <div>
          <h6 class="fw-bold mb-0">E Mail</h6>
          <small class="text-muted">cookpedia@gmail.com</small>
        </div>
      </div>

      <!-- SOCIAL -->
      <h6 class="fw-bold mb-2">Follow Us</h6>
      <div class="d-flex gap-3">
        <span class="bg-success text-white rounded-circle p-2">
          <i class="bi bi-facebook"></i>
        </span>
        <span class="bg-success text-white rounded-circle p-2">
          <i class="bi bi-instagram"></i>
        </span>
        <span class="bg-success text-white rounded-circle p-2">
          <i class="bi bi-twitter"></i>
        </span>
        <span class="bg-success text-white rounded-circle p-2">
          <i class="bi bi-youtube"></i>
        </span>
      </div>
    </div>

    <!-- RIGHT FORM -->
    <!-- <div class="col-md-6">
      <div class="card shadow-sm border-0 p-4">
        <h4 class="fw-bold mb-3">Client Testimony</h4>

        <input type="text" class="form-control mb-3" placeholder="Name">
        <input type="email" class="form-control mb-3" placeholder="E Mail">
        <textarea class="form-control mb-3" rows="4" placeholder="Message"></textarea>

        <small class="text-muted d-block mb-3">
          By Submitting, your agreeing the terms and condition of our website.
          We may use your details in our site.
        </small>

        <button class="btn btn-success ms-auto d-block px-4">
          Submit
        </button>
      </div>
    </div>

  </div>
</div> -->


<!-- RIGHT FORM -->
<div class="col-md-6">
  <form #feedbackForm="ngForm" (ngSubmit)="addFeedBack()" class="card shadow-sm border-0 p-4">
    <h4 class="fw-bold mb-3">Client Testimony</h4>

    <input #username="ngModel" type="text" class="form-control mb-3" placeholder="Name"
      [(ngModel)]="name" name="name" required pattern="[a-zA-Z ]*">

    @if (username.invalid && username.touched) {
            <div class="mb-3 text-danger fw-bolder" >*invalid name</div>

    }

    <input #mail="ngModel" type="email" class="form-control mb-3" placeholder="E Mail"
      [(ngModel)]="email" name="email"  email required>

        @if (mail.invalid && mail.touched) {
            <div class="mb-3 text-danger fw-bolder" >*invalid mail</div>

    }

    <textarea #emessage="ngModel" class="form-control mb-3" rows="4" placeholder="Message"
      [(ngModel)]="message" name="message" required ></textarea>

           @if (emessage.invalid && emessage.touched) {
            <div class="mb-3 text-danger fw-bolder" >*invalid message</div>

    }

    <small class="text-muted d-block mb-3">
      By Submitting, your agreeing the terms and condition of our website.
      We may use your details in our site.
    </small>

    <button [disabled]="feedbackForm.invalid" type="submit" class="btn btn-success ms-auto d-block px-4"
      >
      Submit
    </button>
  </form>
</div>


<!-- MAP -->
<div class="container my-5">
  <iframe
    src="https://www.google.com/maps?q=Ernakulam&output=embed"
    width="100%"
    height="350"
    style="border:0;"
    loading="lazy">
  </iframe>
</div>


<app-footer/>

